 <!--Busqueda profesores -->
 <div class="input-group mb-3 w-50 mx-auto">
  <input
    type="text"
    class="form-control"
    placeholder="Buscar..."
    aria-label="Buscar"
  />
  <button id="demo" class="btn btn-outline-secondary" type="button">Buscar</button>
</div>
<!--Botones profesores -->

    <% for (let profesor of profesores) { %>
      <div class="container mt-4">
          <div class="row justify-content-center">

      <div class="col-md-6 d-flex flex-column gap-2">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-toggle="modal"
          data-bs-target="#profModal<%= profesor.matriculaProfesor %>"
          data-prof-name="<%= profesor.nombreProfesor %>"
          data-prof-id="<%= profesor.matriculaProfesor %>"
        >
        <%= profesor.nombreProfesor %>
        </button>

      </div>
      
    </div>
    
  </div>
</div>

<div
  class="modal fade"
  id="profModal<%= profesor.matriculaProfesor %>"
  tabindex="-1"
  aria-labelledby="modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">
          Disponibilidad de horario
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
          <div id="matricula" class="invisible"><%= profesor.matriculaProfesor %></div>
        <div class="row">
          <div class="col-sm-2">
             <dt class="col">Nombre:</dt>
              <dt class="col">Matrícula:</dt> 
          </div>
          <div class="col">
              <dd class="col" id="profName"></dd>
          <dd class="col-6 id="profId"> <%= profesor.matriculaProfesor %> </dd>
          </div>
          
          
        </div>
        <h6>Seleccione los horarios disponibles:</h6>
        <!-- Cuadrícula de horarios (igual a la original) -->
        <div class="selector-container">
          <div class="row mb-2 text-center offset-2">
              <div class="col-auto">Lunes</div>
              <div class="col-auto">Martes</div>
              <div class="col-auto">Miércoles</div>
              <div class="col-auto">Jueves</div>
              <div class="col-auto">Viernes</div>
          </div>
          <!-- Ejemplo para 7:00 (repite para cada hora hasta 15:00) -->
          <div class="row mb-1 align-items-center">
            <div class="col-2 text-end fw-bold">7:00</div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="lunes-7-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="lunes-7-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="martes-7-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="martes-7-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="miercoles-7-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="miercoles-7-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="jueves-7-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="jueves-7-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="viernes-7-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="viernes-7-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
          </div>

          <!-- 7:30 -->
          <div class="row mb-1 align-items-center">
            <div class="col-2 text-end fw-bold">7:30</div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="lunes-7-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="lunes-7-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="martes-7-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="martes-7-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="miercoles-7-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="miercoles-7-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="jueves-7-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="jueves-7-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="viernes-7-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="viernes-7-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
          </div>

          <!-- 8:00 -->
          <div class="row mb-1 align-items-center">
            <div class="col-2 text-end fw-bold">8:00</div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="lunes-8-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="lunes-8-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="martes-8-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="martes-8-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="miercoles-8-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="miercoles-8-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="jueves-8-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="jueves-8-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="viernes-8-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="viernes-8-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
          </div>
           <!-- 8:30 -->
           <div class="row mb-1 align-items-center">
            <div class="col-2 text-end fw-bold">8:30</div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="lunes-8-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="lunes-8-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="martes-8-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="martes-8-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="miercoles-8-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="miercoles-8-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="jueves-8-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="jueves-8-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="viernes-8-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="viernes-8-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
          </div>


          <!-- 9:00 -->
          <div class="row mb-1 align-items-center">
            <div class="col-2 text-end fw-bold">9:00</div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="lunes-9-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="lunes-9-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="martes-9-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="martes-9-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="miercoles-9-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="miercoles-9-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="jueves-9-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="jueves-9-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="viernes-9-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="viernes-9-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
          </div>

           <!-- 9:30 -->
           <div class="row mb-1 align-items-center">
            <div class="col-2 text-end fw-bold">9:30</div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="lunes-9-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="lunes-9-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="martes-9-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="martes-9-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="miercoles-9-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="miercoles-9-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="jueves-9-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="jueves-9-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="viernes-9-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="viernes-9-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
          </div>


          <!-- 10:00 -->
          <div class="row mb-1 align-items-center">
            <div class="col-2 text-end fw-bold">10:00</div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="lunes-10-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="lunes-10-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="martes-10-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="martes-10-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="miercoles-10-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="miercoles-10-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="jueves-10-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="jueves-10-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="viernes-10-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="viernes-10-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
          </div>

          <!-- 10:30 -->
          <div class="row mb-1 align-items-center">
            <div class="col-2 text-end fw-bold">10:30</div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="lunes-10-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="lunes-10-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="martes-10-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="martes-10-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="miercoles-10-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="miercoles-10-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="jueves-10-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="jueves-10-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="viernes-10-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="viernes-10-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
          </div>



          <!-- 11:00 -->
          <div class="row mb-1 align-items-center">
            <div class="col-2 text-end fw-bold">11:00</div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="lunes-11-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="lunes-11-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="martes-11-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="martes-11-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="miercoles-11-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="miercoles-11-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="jueves-11-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="jueves-11-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="viernes-11-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="viernes-11-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
          </div>

          <!-- 11:30 -->
          <div class="row mb-1 align-items-center">
            <div class="col-2 text-end fw-bold">11:30</div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="lunes-11-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="lunes-11-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="martes-11-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="martes-11-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="miercoles-11-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="miercoles-11-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="jueves-11-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="jueves-11-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="viernes-11-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="viernes-11-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
          </div>



          <!-- 12:00 -->
          <div class="row mb-1 align-items-center">
            <div class="col-2 text-end fw-bold">12:00</div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="lunes-12-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="lunes-12-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="martes-12-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="martes-12-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="miercoles-12-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="miercoles-12-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="jueves-12-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="jueves-12-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="viernes-12-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="viernes-12-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
          </div>

          <!-- 12:30 -->
          <div class="row mb-1 align-items-center">
            <div class="col-2 text-end fw-bold">12:30</div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="lunes-12-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="lunes-12-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="martes-12-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="martes-12-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="miercoles-12-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="miercoles-12-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="jueves-12-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="jueves-12-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="viernes-12-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="viernes-12-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
          </div>



          <!-- 13:00 -->
          <div class="row mb-1 align-items-center">
            <div class="col-2 text-end fw-bold">13:00</div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="lunes-13-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="lunes-13-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="martes-13-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="martes-13-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="miercoles-13-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="miercoles-13-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="jueves-13-00"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="jueves-13-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="viernes-13-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="viernes-13-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
          </div>

          <!-- 13:30 -->
          <div class="row mb-1 align-items-center">
            <div class="col-2 text-end fw-bold">13:30</div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="lunes-13-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="lunes-13-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="martes-13-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="martes-13-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="miercoles-13-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="miercoles-13-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="jueves-13-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="jueves-13-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="viernes-13-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="viernes-13-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
          </div>



          <!-- 14:00 -->
          <div class="row mb-1 align-items-center">
            <div class="col-2 text-end fw-bold">14:00</div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="lunes-14-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="lunes-14-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="martes-14-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="martes-14-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="miercoles-14-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="miercoles-14-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="jueves-14-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="jueves-14-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="viernes-14-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="viernes-14-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
          </div>

          <!-- 14:30 -->
          <div class="row mb-1 align-items-center">
            <div class="col-2 text-end fw-bold">14:30</div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="lunes-14-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="lunes-14-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="martes-14-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="martes-14-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="miercoles-14-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="miercoles-14-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="jueves-14-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="jueves-14-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="viernes-14-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="viernes-14-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
          </div>



          <!-- 15:00 -->
          <div class="row mb-1 align-items-center">
            <div class="col-2 text-end fw-bold">15:00</div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="lunes-15-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="lunes-15-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="martes-15-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="martes-15-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="miercoles-15-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="miercoles-15-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="jueves-15-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="jueves-15-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>

            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="viernes-15-00<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="viernes-15-00<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
          </div>
          <!-- 15:30 -->
          <div class="row mb-1 align-items-center">
            <div class="col-2 text-end fw-bold">15:30</div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="lunes-15-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="lunes-15-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="martes-15-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="martes-15-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="miercoles-15-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="miercoles-15-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="jueves-15-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="jueves-15-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
            <div class="col text-center">
              <input
                type="checkbox"
                class="btn-check"
                id="viernes-15-30<%= profesor.matriculaProfesor %>"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary"
                style="width: 35px; height: 35px"
                for="viernes-15-30<%= profesor.matriculaProfesor %>"
              ></label>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          id="saveAvailability<%= profesor.matriculaProfesor %>"
          data-bs-dismiss="modal"
          onclick="guardarHorario1()"
        >
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>
<% } %>
<script>
  console.log('script');
  const allProfesores = '<%- JSON.stringify(profesores) %>';
  console.log(allProfesores);
</script>
<script src="/js/app2.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>