<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenidx a tu Galería</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1>¡Hola! Bienvenidx a tu galería personal</h1>
      <p class="subtitle">Sube tu imagen aquí para visualizarla</p>

      <form
        action="/imagenes/agregar"
        method="POST"
        enctype="multipart/form-data"
      >
        <input type="file" name="archivo" accept="image/*" required />
        <button type="submit">Subir Imagen</button>
      </form>

      <a href="/dropbox" class="btn-secundario">Ver galería Dropbox</a>

      <h2>Tus imágenes subidas</h2>
      <div class="gallery">
        <% imagenes.forEach(function(img) { %>
        <img src="/uploads/<%= img %>" alt="<%= img %>" />
        <% }) %>
      </div>
    </div>
  </body>
</html>
